.disabled {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
    cursor: not-allowed;

    & * {
        color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
    }
}

.dark-theme-dropzone {
    background-color: #2e3440;
    color: #d8dee9;
    border: 2px dashed #4c566a;
}

.dark-theme-dropzone:hover {
    background-color: #3b4252;
}

.dark-theme-dropzone .mantine-Text-root {
    color: #d8dee9;
}
